* {
    box-sizing: border-box;
    font-family: sans-serif;
}

[class*="col-"] {
    float: left;
    /* padding: 15px;
    border: 1px solid; */
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

body {
    height: 100%;
    max-width: 100%;
    min-height: 100%;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    background-size: cover;
    background-attachment: fixed;
}

.logo img {
    height: 55px;
    width: auto;
    display: block;
}

/* Media query for mobile screens (up to 767px) */
@media (max-width: 992px) {
    .navbody ul li a {
        color: #444444 !important;
        font-weight: 700;

    }

    .navbody {
        display: flex !important;
        flex-direction: column !important;
    }

    .navbody ul {
        justify-content: center;
        align-items: center;
        /* margin: auto; */
        margin-inline: auto;
    }

    .logo {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        /* display: none !important; */
    }
}

@media (min-width:1280px) {
    .mainnavbar {
        padding: 0 80px !important;
    }
}




/* responsive navbar */
@media (max-width:992px) {
    .responsivnav {
        background-color: #cecaca !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 50%;


    }
}

@media (max-width:992px) {
    .navbody ul li a {
        color: #444444 !important;
        font-weight: 700;

    }

    .navbody {
        display: flex !important;
        flex-direction: column !important;
    }

    .navbody ul {
        justify-content: center;
        align-items: center;
        /* margin: auto; */
        margin-inline: auto;
    }
}


.port {
    background-color: #00b3cc;
    border: 2px solid #00b3cc;
    /* display: block; */
    color: white;
    padding: 15px 30px;
}

@media(max-width:764px) {
    .port {
        display: none;
    }
}



.hdone {
    cursor: pointer;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1;
}

.htitle {
    font-size: 14px;
    margin: 0 0 4px;
}


.hr {
    background-color: rgba(179, 176, 176, 0.623);
}

.soicon,
.head-icon {
    color: #00b3cc;

    height: 25px;
    position: relative;
    padding: 0;
    float: left;
    right: 7px;
    margin-top: -7px;
}

.navlist ul li a {
    font-weight: 700;

}

/* .nav ul li a.active {
    box-shadow: 0 -3px 0 0 #e7e7e7 inset;
} */


.current{
    color: #00b3cc !important;
}

/* toggler */
.nav-tglrbtn {
    position: absolute !important;
    top: -56px !important;
    left: 0 !important;
    color: #00b3cc;
}

.section {
    max-width: 1160px;
    margin: 0 auto 25px;
    width: auto;
    height: auto;
    top: 30%;
}

.head_body {
    position: relative;
    z-index: -1;
    right: 100%;
    padding-bottom: 80px;
}

.caro-img {
    background-position: 50%;
    /* background-size: cover; */
    object-fit: cover;
    background-attachment: fixed;
    height: 100vh;

}



/* our profile */
.btimg img {
    max-width: 100%;
    height: auto;
    display: block;
    width: 100%;
}

.serimg img {
    width: 100%;
    height: auto;
}

.serimg img:hover {
    opacity: 0.5;
}


/* our services */
.txtservice {
    font-size: 20px;
    margin-bottom: 14px;
    /* font-family: open, s; */
}

.headline {
    font-style: normal;
    font-weight: 300;
    letter-spacing: .1em;
    /* font-size: 60px; */
}

.headline1 {
    font-style: normal;
    font-weight: 300;
    letter-spacing: .1em;
    font-size: 51px;
}

.animate {
    color: #00b3cc;
}

.iconborder {
    height: 78px;
    width: 78px;
    border-radius: 50px;
    border: 1px solid none;
    background-color: #00b3cc;
    /* transform: 'translate(40px)'; */
    transform: translate(20px, -40px);

}

.mainicon {
    color: white;
    /* font-weight: bolder; */
    padding: 18px;
}

.iconborder:hover {
    background-color: white;
    border: 1px solid #00b3cc;
    /* transition: all .3s ease; */

}

.mainicon:hover {
    color: #00b3cc;
}


.texticon {
    color: #444;
    margin-top: -30px;
    font-size: 24px;
}

.texticon:hover {
    color: #00b3cc;
}

/* home */
/* .nav-item a {
    color: white !important;;
} */

.navbody ul li a:hover {
    color: #00b3cc !important;
}

.Appoint {
    background-color: #00b3cc;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    /* width: 280px;
    height: 60px; */
}

.Appoint:hover {
    background-color: #005b88 !important;
}

.Appointment {
    background-color: #00b3cc;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    /* width: 280px;
    height: 60px; */
}

.Appointment:hover {
    background-color: #005b88;
}

/* .

.serimg img:hover{
    opacity: 0.5;
 }

/* end Home Page */