* {
    box-sizing: border-box;
    font-family:  sans-serif;
}

[class*="col-"] {
    float: left;
    /* padding: 15px;
    border: 1px solid; */
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* header */
.heaerimg {
    background-image: url('../img/home-img/bllurred-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
}
.logo img {
    height: 55px;
    width: auto;
    display: block;
}


/* responsive navbar */
@media (max-width:992px){
    .responsivnav{
        background-color: #cecaca;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width:50%;

    }
}
@media (max-width:992px){
.navbody ul li a{
    color: #444444 !important;
    font-weight: 700;

}

.navbody{
    display: flex !important;
    flex-direction: column !important;
}
.navbody ul{
    justify-content: center;
    align-items: center;
    /* margin: auto; */
    margin-inline: auto;
}
.logo{
    width: 100%;
    height: auto;
    display: flex;
   justify-content: center;
    /* display: none !important; */
}
}

@media (min-width:1280px){
    .mainnavbar{
        padding: 0 80px !important;
    }
}

@media(max-width:764px){
    .port{
        display: none;
    }
}

.navbody ul li a:hover{
    color: #00b3cc !important;
}
.book a:hover{
    background-color: #036b79 !important;
}

.port {
    background-color: #00b3cc;
    border: 2px solid #00b3cc;
    /* display: block; */
    color: white;
    padding: 15px 30px;
}

.hdone{
    cursor: pointer;
    font-weight:400;
    letter-spacing: 1px;
    line-height: 1;
}
.htitle{
    font-size: 14px;
    margin: 0 0 4px;
}

.hr {
    background-color: rgba(179, 176, 176, 0.623);
}


.soicon,
.head-icon {
    color: #00b3cc;
    
    height: 25px;
    position: relative;
    padding: 0;
    float: left;
    right: 7px;
    margin-top: -7px;
}

.navbody ul li a{
    font-size: 16px;
}


/* end header */




/* body css */

 .mainicon{
     color:white ;
     /* font-weight: bolder; */
     padding: 20px;
 }
 
 .iconborder:hover {
    background-color: white;
    border: 1px solid #00b3cc;
    /* transition: all .3s ease; */
    
 }
 .mainicon:hover{
     color:#00b3cc ;
 }
 
 
 .texticon{
     color: #444;
     margin-top: -30px;
 }
 .texticon:hover {
     color: #00b3cc;
 }

.iconborder{
   height: 80px;
   width: 80px;
   border-radius: 50px;
   border: 1px solid none; 
   background-color: #00b3cc;
   /* transform: 'translate(40px)'; */
   transform: translate(20px,-40px);
   
}

.mainicon{
    color:white ;
    /* font-weight: bolder; */
    padding: 20px;
}

.iconborder:hover {
   background-color: white;
   border: 1px solid #00b3cc;
   /* transition: all .3s ease; */
   
}
.mainicon:hover{
    color:#00b3cc ;
}


.texticon{
    color: #444;
    margin-top: -30px;
    /* text-decoration: none !important; */
}
.texticon:hover {
    color: #00b3cc;
}

.Appointment{
    background-color: #00b3cc;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    /* width: 320px;
    height: 60px; */
}
.Appointment:hover{
background-color: #005b88;
}

.serimg img{
    width: 100%;
    height: auto;
}
 .serimg img:hover{
    opacity: 0.5;
 }


/*  DR consultation body */
ol li a{
    color: #444444;
}

ol li a:hover{
    color: #00b3cc;
}


/* Health Screening css */

 .tdata tr th, .tdata tr td{
    font-size: 13px;
    vertical-align: top;
    padding: 10px;
    color: #444;
 }


 /* customized Package */
 
 label{
    color: #444444;
 }

 ul li{
    font-size:  small;
 }
